.card-main {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  transition: all;
  transition-duration: 300ms;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  color: rgb(17 24 39);
}

.card-h5 {
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  font-weight: 700;
  color: rgb(17 24 39);
  text-align: left;
}

.card-due {
  font-size: 12px;
  width: 200px;
  line-height: 18px;
  text-wrap: wrap;
  text-overflow: ellipsis;
  color: rgb(17 24 39);
}

.card-p {
  font-size: 12px;
  width: 200px;
  line-height: 18px;
  text-wrap: wrap;
  text-overflow: ellipsis;
  color: rgb(107 114 128);
}

.card-block-edit input {
  width: 75%;
  height: max-content;
  border-width: 2px;
  border-radius: 8px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  border-width: 1px;
  color: rgb(17 24 39);
}

.card-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 170px;
}

.card-select {
  padding: 2px;
  border-radius: 8px;
}

.card-block-edit {
  width: 200px;
  gap: 2px;
}

.group:hover .icon-edit {
  opacity: 1;
}

.card-edit select {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  border-width: 1px;
  font-size: 14px;
  margin-top: 5px;
}

.icon-edit {
  width: 24px;
  height: 24px;
  color: rgb(17 24 39);
  opacity: 0;
}

.icon-edit:hover {
  cursor: pointer;
}

.icon-save {
  width: 20px;
  height: 20px;
  color: rgb(34 197 94);
}

.icon-save:hover {
  cursor: pointer;
}

.icon-delete {
  width: 20px;
  height: 20px;
  color: rgb(239 68 68);
}

.icon-delete:hover {
  cursor: pointer;
}

.icon-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-label {
  font-size: 12px;
  line-height: 8px;
  margin-top: 10px;
}

.card-date {
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
}

.card-color {
  color: crimson;
}

.card-medium {
  padding: 12px;
  border-radius: 9999px;
  background-color: rgb(254 240 138);
  width: fit-content;
  font-size: 14px;
  margin-top: 3px;
}

.card-low {
  padding: 12px;
  border-radius: 9999px;
  background-color: rgb(134 239 172);
  width: fit-content;
  font-size: 14px;
  margin-top: 3px;
}

.card-high {
  padding: 12px;
  border-radius: 9999px;
  background-color: rgb(252 165 165);
  width: fit-content;
  font-size: 14px;
  margin-top: 3px;
}

.card-select {
  padding: 2px;
  width: 150px;
}
